
body {
  font-family: Arial, sans-serif;
  background-color: #fdf7f6;
  color: #333;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #d17e90;
}
.row {
  display: flex;
  justify-content: center;
}
.cell {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: #ffeef1;
  text-align: center;
  line-height: 40px;
  border-radius: 8px;
}
.cell a {
  text-decoration: none;
  color: #d17e90;
}
.cell:hover {
  background-color: #ffc0cb;
  color: white;
}


